<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @status %></h1>
    <p>User:<%= @feedback.user.username %></p>
    <p>User Phone:<%= @feedback.user.phone_number %></p>
    <p>Desc<%= @feedback.desc %></p>
    <p>At:<%= @feedback.created_at %></p>
  </body>
</html>
